/* Add your custom extension styling here */


.sectormenu-fullscreen {
    background-color: rgba(1, 0, 0, 0.9);
    border-color: red;
    border: 1;
    padding: 5px;
    color: white;
}

.sectormenu-fullscreen .content {
    border-color: red;
    color: white;
}

.sectormenu-fullscreen .guidelines {
    background-color: yellow;
    color: green;
    width: 300;
    height: 1;
}

.sectormenu-fullscreen .entry-box{}

.sectormenu-fullscreen *:hover {
    outline: 1px rgba(250, 255, 0, 0.98)
}

.sectormenu
.gtk-notebook {}
