

.sectormenu-fullscreen {
    background-color: rgba(0, 0, 0, 0.65);
    border-color: rgba(80, 224, 183, 0);
    border: 0px;
    padding: 0px;
    opacity: 255;
    color: white;
}

.sectormenu-fullscreen .sector-debug  {
    background-color: rgba(255, 0, 0, 0.26);
    border-color: rgb(255, 0, 0);
    border: 0;
    padding: 0px;
    opacity: 255;
    color: #13c92211;
}

.sectormenu-fullscreen .content {
    border-color: red;
    color: white;
}

.sectormenu-fullscreen .info {
    border-color: red;
    color: rgba(255, 255, 255, 1);
}

.sectormenu-fullscreen .tooltip {
     color: green;
     width: 300;
     height: 1;
}
    
.StLabel .tooltip {
    color: rgb(126, 2, 241);
    width: 300;
    height: 1;
}
.sectormenu-fullscreen .STscrollview {
    background-color: rgba(0, 0, 0, 0.69);
    border-color: rgba(0, 0, 0, 0.81);
    color: inherit;
    /* theme: inherit; */
    /* track-hover: inherit; */
    /* can-focus: true; */

}
.sectormenu-fullscreen .guidelines {
    color: green;
    width: 300;
    height: 1;
}
.sectormenu-fullscreen .entry-box{
    width: 320px;
    padding: 7px,9px;
    border-radius: 18px;
}
.sectormenu-fullscreen .STLabel-history{
    width: 320px;
    padding: 7px,9px;
    border-radius: 18px;
}
.sectormenu-fullscreen .launcher-icon{
    /* icon-size: 128px; */
    /* border-radius: 7px; */
    padding: 0px 0px;
    /* align: center; */
}
/* this is for debugging ST widgets */
.sectormenu-fullscreen *:hover {
    padding: 0px 0px;
    /* outline: 1px rgba(0, 255, 26,1) */
}
.sectormenu-fullscreen *:focus {
    padding: 0px 0px;
    /* outline: 1px rgba(225, 0, 255,1)  ; */
}
.prefs large-label{
    /* visible: true; */
    /* use_markup: true; */
    font-size: 2em;
}
